@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
  bottom: auto !important;
  top: auto !important;
  left: auto !important;
  position: unset !important;
  --swiper-theme-color: #cc4400 !important;
}
